body, html {
  font-family: 'Work Sans', sans-serif;
  background: #00467f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00467f, #a5cc82); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00467f, #a5cc82);
  height: 100%;
}
.logo {
  background-image: url('img/goat.jpg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
.active {
  color: rgb(2, 107, 65);
}

li {
	list-style-type: none;

}

a{
	text-decoration: none;
  font-size: 130%;
	color: #000721;
}
a:hover{
	color: rgb(2, 107, 65);;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;

}

.body-wrapper{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 95%;


  .itemListDisplay{
    background: white;
    border-radius: 1rem;
    height: 50%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    padding: 2%;
    width: 95%;

    .itemListInfo{
      padding-bottom: 1%;
    }
    button {
      border: None;
      background: rgb(34, 179, 40);
      border-radius: .5rem;
      padding: .4rem;
      font-weight: bold;
      font-size: 90%
    }
    ul{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      font-weight: bold;
    }
  }

}

.menuItem-wrapper {
  width: 90%;
  border-radius: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  flex-direction: column;
  .menuItem-Wrapper {
    border-radius: 1rem;
    margin: 2rem;
    padding-left: .5rem;
    padding-right:.5rem;
    padding-bottom: 1rem;
    width: 23rem;

    img {
      width: auto;
      height: 300px;
    }
    ul{
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color:rgb(255, 255, 255);
      margin: 1rem;
    }
  }


}
